/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31/03/2014, 02:23:30 PM
    Author     : reyes
*/
body{
    background-color: #333;
    color: #fff;
}
